<!DOCTYPE html>
<html>
<head>
    <!-- meta info -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Chinese NLP</title>
    <!-- Css files -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- Js files -->
    <script src="{{ url_for('static', filename='jquery-1.11.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='run.js') }}"></script>
</head>

<body>

<div class="container" style="margin-top: 10px;">
    <div class="row" style="background-color: #FBF5EF; padding: 20px 100px 10px 100px; border: 1px solid #F6D8CE; border-radius: 10px">
        <div class="col-md-12">
            <div class="form-group">
                <label for="entered_url">Enter the url</label>
                <textarea style="height: 50px; width: 100%; resize: none;" id="entered_url"></textarea>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-lg btn-success" id="run" style="margin-bottom: 12px"> &nbsp;&nbsp;Run&nbsp;&nbsp; </button>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="result_text">Article text</label>
                <textarea style="height: 330px; width: 100%; resize: none; margin-bottom: 10px" id="result_text" readonly></textarea>
                <label for="result_text">Article summary</label>
                <textarea style="height: 330px; width: 100%; resize: none" id="result_summary" readonly></textarea>
            </div>
        </div>
    </div>
</div>

</body>

</html>